body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}


h1 {
    margin-bottom: 2rem;
    color: aliceblue;
    font-style:italic;
}

h2 {
    color: darkblue;
}

.tarjetas-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.tarjeta {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.9);
    width: 300px;
    margin: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 255, 1.4);
}

.foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid orange;
}

.info h3 {
    margin: 0 0 5px 0;
    color: darkblue;
}

.info p {
    margin: 2px 0;
    font-size: 14px;
}

.chat-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.chat-box {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid darkblue;
}

.messages {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: left;
}

input[type="text"] {
    width: 70%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid darkblue;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: darkblue;
    border: 2px solid darkblue;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
}
